doctype html
html(lang="en")

	include common/_head.jade

	body
		
		#fullpage

			include common/_header.jade

			include common/_bee.jade

			include common/_about.jade

			include common/_footer.jade