/* --------- mixins --------- */
@import "components/variables.scss";
@import "components/mixins";

/* --------- components --------- */

@import "components/header";
@import "components/bee";
@import "components/portfolio";
@import "components/about";
@import "components/footer";

form * {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}