section#section2.about.section
	.about__wrapper
		.about-title
			h2.about-title__text Броская фраза тут
		.about-content
			.about-content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, atque, libero? Praesentium optio corporis, consectetur molestiae natus, impedit quaerat numquam libero! Necessitatibus, qui. Minima optio rem officia voluptatibus, quod quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, atque, libero? Praesentium optio corporis, consectetur molestiae natus, impedit quaerat numquam libero! Necessitatibus, qui. Minima optio