head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=9; IE=EDGE")

    title portfolio
    meta(name="description" content="")
    
    meta(http-equiv="x-ua-compatible" content="IE=Edge")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")

    link(rel='stylesheet' href='/assets/css/foundation.css')
    link(rel='stylesheet' href='/assets/css/app.css')

    link(href='https://fonts.googleapis.com/css?family=Roboto:300,500,400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")