.slide(id="#slide1")
    .portfolio
        .portfolio-back(data-anchor="firstPage")
            a.portfolio-back__btn(href="#firstPage") Назад
        img.portfolio__img(src="/assets/img/tumb/first.jpg")