.page-header {
    background: $red url('../img/header-bg.png') no-repeat 0 100%;
    background-size: contain;
    margin-bottom: 10px;
    .fp-tableCell {
        display: block;
    }
}

.page-header__wrap {
    @include clearfix;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 0 7%;
}

.header-logo {
    width: 245px;
    height: 104px;
}

.header-logo__img {
    width: 100%;
    height: 100%;
}

.header-nav {
    position: fixed;
    top: 0;
    width: 100%;
}

.header-nav__wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 7%;
    @include clearfix;
}

.header-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    @include clearfix;
    @media screen and (max-width: 560px) {
        display: none;
    }
    &.first-page {
        .header-nav__item {
            &:after {
                color: $white;
            }
        }
        .header-nav__link {
            color: $white;
            &:hover {
                color: $black;
            }
        }
    }
    &.touch-page {
        .header-nav__item {
            &:after {
                color: $white;
            }
        }
        .header-nav__link {
            color: $white;
            &:hover {
                color: $red;
            }
        }
    }
}

.header-nav__item {
    display: inline-block;
    position: relative;
    &:after {
        content: "/";
        display:block;
        color: $black;
        font-size: 1.125rem;
        position: absolute;
        top: 25px;
    }
    &:first-child:after {
        display: none;
    }

    &.active {
        .header-nav__link {
            color: $red;
        }
    }
}

.header-nav__link {
    padding: 25px;
    display: block;
    text-decoration: none;
    color: $black;
    font-weight: 400;
    font-size: 1.125rem;
    transition: 0.3s;
    &.active {
        color: $red;
    }
    &:hover {
        color: $red;
    }
}

.autor {
    text-align: center;
    position: absolute;
    margin: auto;
    width: 100%;
    top: 30%;
    left: -5%;
    @media (max-width: 1100px) {
        left: -2%;
    }
    @media (max-width: 950px) {
        left: 5%;
    }
}

.autor-name {
    margin-left: -12%;
}

.autor-name__text {
    font-size: 3rem;
    color: $white;
    font-weight: 300;
    @media screen and (max-width: 500px) {
        font-size: 2rem;
    }
}

.autor-role__text {
    font-size: 1.875rem;
    color: $white;
    font-weight: 300;
    @media screen and (max-width: 500px) {
        font-size: 1rem;
    }
}

.header-nav-mob {
    display: none;
    @media screen and (max-width: 560px) {
        display: block;
    }
    .header-nav-mob__list {
        background-color: $black;
    }

    .header-nav-mob__link {
        text-decoration: none;
    }
}

.header-nav.mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.86);

    .header-nav__wrap {
        position: absolute;
        width: 100%;
        top: 50%;
        padding: 0;
        -webkit-transform: translate(0,-50%);
            -ms-transform: translate(0,-50%);
                transform: translate(0,-50%);
    }
    
    .header-nav__list {
        width: 100%;
        text-align: center;
        display: block;
        &.first-page {
            .header-nav__link {
                color: $white;
            }
        }
    }
    .header-nav__item {
        display: none;
        &:after {
            display: none;
        }
    }
    .header-nav__link {
        color: $white;
        font-size: 3rem;
        @include transition(0.5s)
        &:hover {
            background-color: rgba(255,255,255, 0.4);
        }
    }
}

//sandwich
.header-nav {
    .header-nav-mob__btn {
        width: 60px;
        height: 60px;
        z-index: 110;
        position: fixed;
        display: block;
        background: $black;
        top: 10px;
        right: 7%;

        .header-nav-mob__btn-toggle {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 30px;
            display: block;
            margin-left: -15px;
            width: 30px;
            height: 3px;
            background: $white;
            z-index: 200;
        }

        .header-nav-mob__btn-toggle:after,
        .header-nav-mob__btn-toggle:before {
            content: '';
            position: absolute;
            z-index: 200;
            width: 100%;
            height: 3px;
            background: #fff;
            left: 0;
            -webkit-transform-origin: center center;
            -moz-transform-origin: center center;
            -ms-transform-origin: center center;
            -o-transform-origin: center center;
            transform-origin: center center;
        }

        .header-nav-mob__btn-toggle:before {
            top: -8px;
        }

        .header-nav-mob__btn-toggle:after {
            bottom: -8px;
        }
    }
    &.mobile .header-nav-mob__btn-toggle {
        background: 0 0;
    }

    &.mobile .header-nav-mob__btn-toggle:after {
        -webkit-transform: rotate(-45deg) translate(6px, -5px);
        -moz-transform: rotate(-45deg) translate(7px, -5px);
        -ms-transform: rotate(-45deg) translate(7px, -5px);
        -o-transform: rotate(-45deg) translate(7px, -5px);
        transform: rotate(-45deg) translate(7px, -5px);
    }

    &.mobile .header-nav-mob__btn-toggle:before {
        -webkit-transform: rotate(45deg) translate(7px, 6px);
        -moz-transform: rotate(45deg) translate(6px, 5px);
        -ms-transform: rotate(45deg) translate(6px, 5px);
        -o-transform: rotate(45deg) translate(6px, 5px);
        transform: rotate(45deg) translate(6px, 5px);
    }

    .header-nav-mob__btn-toggle, .header-nav-mob__btn-toggle:after, .header-nav-mob__btn-toggle:before {
        -webkit-transition: all .3s cubic-bezier(0.585,-.6,.43,1.65);
        -moz-transition: all .3s cubic-bezier(0.585,-.6,.43,1.65);
        -ms-transition: all .3s cubic-bezier(0.585,-.6,.43,1.65);
        -o-transition: all .3s cubic-bezier(0.585,-.6,.43,1.65);
        transition: all .3s cubic-bezier(0.585,-.6,.43,1.65);
    }

    &:hover .header-nav-mob__btn-toggle:before {
        top: -6px;
    }

    &:hover .header-nav-mob__btn-toggle:after {
        bottom: -6px;
    }

    &.mobile:focus .header-nav-mob__btn-toggle:after, &.mobile:hover .header-nav-mob__btn-toggle:after {
        bottom: -8px;
    }

    &.mobile:focus .header-nav-mob__btn-toggle:before, &.mobile:hover .header-nav-mob__btn-toggle:before {
        top: -8px;
    }
}