//general colors
$general    : #2eb398;
$lwhite     : #d7fcf5;
$black      : #000000;
$white      : #ffffff;
$red        : #f84241;

//footer colors
$text       : #bebebe;
$title      : #e0e0e0;
$footer-bg  : #323232;
$input      : #454545;
$border     : #2b2b2b;
$copyBg     : #222222;
$copyColor  : #454545;

